@charset "UTF-8";

main {
  margin-bottom: 139px;
}

.contacts {
  padding: 140px 120px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__left {
  padding-top: 40px;
  margin-right: 10px;
}

.contacts__title {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 38px;
  /* Черный */
  color: #2f2222;
}

.contacts__num,
.contacts__address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #5d71dd;
}

.contacts__num::before,
.contacts__address::before {
  display: inline-block;
  content: "";
  margin-right: 10px;
  width: 14px;
  height: 14px;
}

.contacts__num::before {
  background: url("../img/icons/phone.svg") center no-repeat;
}

.contacts__right {
  max-width: 560px;
  padding: 40px 60px;
  background-color: #fff;
  -webkit-box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
          box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
  border-radius: 20px;
}

.contacts__address::before {
  background: url("../img/icons/icon-place.svg") center no-repeat;
}

.contacts__address {
  margin-bottom: 40px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  margin-right: 18px;
}

.social__item:last-child {
  margin-right: 0;
}

@media (max-width: 1280px) {
  .contacts {
    padding: 140px 45px 0px;
  }
}

@media (max-width: 1080px) {
  .contacts__right {
    max-width: 540px;
    padding: 40px 50px;
  }
}

@media (max-width: 1025px) {
  .contacts__left {
    padding-left: 17px;
  }
}

@media (max-width: 1024px) {
  .contacts {
    padding: 80px 11px;
  }
}